<footer>
    <p>&copy; <%= new Date().getFullYear() %> Our Wonderful App. All rights reserved.</p>
    <p>
      <a href="https://github.com/AidanSch35" target="_blank"><i class="fab fa-github"></i> GitHub</a>
      |
      <a href="https://twitter.com/AidanSch35" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    </p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  </html>