<%- include('includes/header') %>

<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Our Wonderful App!</h1>
    <p class="lead">This is a simple app where you can create posts, manage your library, and more.</p>
    <% if (!user) { %>
      <hr class="my-4">
      <p>New here? Sign up now and start creating amazing content!</p>
      <a class="btn btn-primary btn-lg" href="/register" role="button">Sign Up</a>
    <% } %>
  </div>
</div>

<%- include('includes/footer') %>