body {
    font-family: 'Roboto', sans-serif;
    padding-top: 56px; /* Adjust if you have a fixed navbar */
  }
  
  header {
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .nav-link {
    margin-right: 15px;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  form input {
    margin-right: 5px;
  }
  
  footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }